<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.vr_teste.rafaeltavares.aula_1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detalhes"
            android:label="@string/title_activity_detalhes" >
        </activity>
        <activity
            android:name=".Grid_View"
            android:label="@string/title_activity_grid__view" >
        </activity>
        <activity
            android:name=".GridViewLayout"
            android:label="@string/title_activity_grid_view_layout" >
        </activity>
    </application>

</manifest>
